* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.loading-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #031926;
  color: #e7e7e7;
  min-height: 100vh;
}

b {
  font-weight: 900;
  color: #9067c6;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: #274656;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: #01111a;
  border-radius: 100px;
}

/* Background */
.background-layer {
  position: fixed;
  z-index: -1;
  bottom: 0px;
}

.background-layer-two {
  position: fixed;
  z-index: -1;
  top: 220px;
}

.temporary-background {
  position: fixed;
  z-index: -1;
  top: -30px;
}

/* NAVBAR */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 70px;
  top: 0;
  transition: all 0.7s;
}

.Navbar.blur {
  background-color: #01111a8d;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
}

.Logo {
  font-size: 32px;
  letter-spacing: 2px;
  padding-left: 7%;
  color: #9067c6;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.NavbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7%;
  font-weight: 500;
  font-size: 22px;
}

.NavbarLinks li {
  padding: 2px 20px;
  list-style-type: none;
}

.NavbarLinks a {
  color: #c2c1c2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 95%;
  padding: 2px 7px;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
}

.NavbarLinks a:hover {
  color: #ffffff;
}

.NavbarLinks a::after {
  background-color: #ffffff;
  content: "";
  position: absolute;
  height: 3px;
  left: 5px;
  bottom: 0;
  width: 0px;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.NavbarLinks a:hover::after {
  width: 95%;
}

.Hamburger {
  display: none;
}

@media (max-width: 800px) {
  .Navbar {
    width: 100%;
  }

  .NavbarLinks {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    inset: 0 0 0 50%;
    gap: 50px;
    background-color: #431f47;
    height: 100vh;
    padding-top: max(20%, 120px);
    transform: translateX(100%);
    transition: 0.5s;
  }

  .NavbarLinks.showNavbar {
    transform: translateX(0);
  }

  .Hamburger {
    display: block;
    z-index: 2;
    padding: 5px;
    padding-right: 7%;
    cursor: pointer;
  }

  .bar {
    display: block;
    background-color: #e7e7e7;
    border-radius: 50px;
    height: 2.5px;
    width: 30px;
    margin: 6px;
    transition: 0.5s;
  }

  .barOne {
    transform: rotate(-225deg);
    position: relative;
    top: 4px;
    transition: 0.5s;
  }

  .barTwo {
    display: none;
  }

  .barThree {
    position: relative;
    bottom: 4px;
    transform: rotate(225deg);
    transition: 0.5s;
  }
}

/* resume button */

.resume-button {
  background-color: #7048c4; /* Button background color */
  color: #c2c1c2; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding around the text */
  font-size: 22px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  place-content: center;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
  text-align: center; /* Center text */
  display: inline-block; /* Ensure the button fits content */
}

.resume-button:hover {
  background-color: #7048c4; /* Darker background on hover */
}

.resume-button:active {
  background-color: #5038a4; /* Even darker background when pressed */
  transform: scale(0.98); /* Slightly shrink the button when clicked */
}

.resume-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 2px rgba(144, 103, 198, 0.5); /* Add custom focus ring */
}

/* HOME PAGE */
.home_container {
  text-align: center;
}
.home-page {
  display: flex;
  justify-content: space-evenly;
  min-height: 50vh;
  margin-top: 100px;
  margin-bottom: -50px;
  align-items: center;
}

.home-text h1 {
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 0.7px;
  padding-top: 10px;
}

.home-img {
  width: 400px;
  height: 400px;
  border-radius: 12px;
}

@media (max-width: 900px) {
  .home-page {
    display: block;
    text-align: center;
    margin-top: 150px;
    padding: 25px;
  }
  .home-text {
    text-align: left;
    display: inline-block;
  }
  .home-img {
    margin: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .home-page {
    min-height: 70vh;
  }
  .home-text h1 {
    font-weight: 500;
    font-size: 28px;
  }
  .home-img {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
}

/* ABOUT */
.about-section {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  align-items: center;
  padding: 25px;
}

.about-text {
  width: 50%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.about-heading {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 40px;
}
.about-text a {
  color: #9067c6;
  text-decoration: underline;
  font-weight: bold;
}

.avatar-image {
  width: 280px;
}

@media (max-width: 900px) {
  .about-section {
    display: block;
    text-align: center;
    padding: 30px;
  }
  .about-text {
    text-align: left;
    display: inline-block;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 80px;
  }
  .about-heading {
    font-size: 26px;
  }

  .avatar-image {
    width: 200px;
    margin-bottom: 75px;
  }
}

/* Skills section */

.skills-section {
  margin: 0px auto;
}

.new_skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 10%;
}

.skill-box {
  width: max(15%, 150px);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 25px 25px 0px;
  border: 3px solid #431f47;
  font-size: 64px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.skill-box:hover {
  transform: scale(1.2);
  box-shadow: 0 2px 8px 0 #431f47;
}

.skills-heading {
  text-align: center;
  margin: 100px 10px;
  font-size: 36px;
  letter-spacing: 0.6px;
}

@media (max-width: 500px) {
  .about-text {
    font-size: 16px;
  }
  .avatar-image {
    width: 200px;
    margin-bottom: 25px;
  }

  .skills-heading {
    font-size: 26px;
  }
  .skill-box {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
}

/* github */

.github-calendar-container {
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  max-width: 800px; /* Set a max width for large screens */
  margin: 0 auto; /* Center align */
}

.project-heading {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .github-calendar-container {
    max-width: 90%;
  }

  .project-heading {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .github-calendar-container {
    max-width: 95%;
  }

  .project-heading {
    font-size: 1rem;
  }
}

/* Project */
.projects-heading {
  text-align: center;
  padding: 75px 0;
  letter-spacing: 0.4px;
  font-size: 36px;
  margin-top: 100px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 5%;
}

.project-item {
  width: 350px;
  border: 3px solid #431f47;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 25px 50px;
  transition: transform 0.5s, box-shadow 0.5s;
}
.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px 0 #431f47;
}

.project-image {
  width: 100%;
  margin: 20px 0;
  border-radius: 5px;
}

.project-button {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 20px 5px 0;
  border-radius: 5px;
  background-color: #431f47;
  color: #e7e7e7;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
.project-button:hover {
  background-color: #9067c6;
  color: #ffffff;
}

@media (max-width: 800px) {
  .project-item {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .projects-heading {
    font-size: 28px;
    margin-top: 60px;
  }
  .project-item {
    width: 90%;
  }
  .project-button {
    font-size: 14px;
    height: 35px;
  }
}

/* Resume */
.resume-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 100px 0;
}

.resume-view {
  border: 1px solid #9067c6;
  width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resume-section > a {
  text-decoration: none;
}

.download-cv {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9067c6;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.download-cv:hover {
  background-color: #7054a4;
}

/* Footer */
footer {
  width: 90%;
  height: 40px;
  margin: 10px auto;
  margin-top: 80px;
  letter-spacing: 0.5px;
  font-size: 30px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  position: relative;
  bottom: 0px;
  text-align: center;
}

.footer-links a {
  color: #9067c6;
  text-decoration: none;
  margin: 0 15px;
}
.footer-links a:hover {
  text-decoration: underline;
}
@media (max-width: 750px) {
  footer {
    height: 110px;
  }
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact section */

.contact-section {
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.contact-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contact-animation img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.contact-animation img:hover {
  transform: scale(1.05);
}

.contact-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 50%;
  width: 100%;
  margin: 20px auto;
  animation: fadeIn 0.5s ease-in-out;
}

.contact-form h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-label {
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

.contact-form .form-control {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.contact-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form .btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .contact-section {
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  .contact-form {
    padding: 20px;
    margin-top: 20px;
  }

  .contact-form h1 {
    font-size: 20px;
  }

  .form-label {
    font-size: 14px;
  }
}

.center-container {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.center-col {
  text-align: center; /* Center the text inside the column */
}

.no-text-decoration {
  text-decoration: none;
}
